.body-items {
    margin-left: 50px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    background-color: lavender;
}

#menus {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#inputs {
    display:flex;
    gap: 5px;
    align-content: center;

}

.grid-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

h1 {
    font-family:sans-serif, Helvetica;
    text-align: center;
}

.renderSquare:hover {
    background-color: blueviolet;
}